<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
</head>
<body>
<div>
    {{ form.name.label_tag }}
    {{ form.name }}
    <p>
        form.name
    </p>
</div>
<p>-----------------</p>
<div>
    {{ form.name.label }}
    <p>
        form.name.label
    </p>
</div>
<p>-----------------</p>
<div>
    {{ form.name.label_tag }}
    <p>
        form.name.label_tag
    </p>
</div>
<p>-----------------</p>
<div>
    {{ form.name.id_for_label }}
    <p>
        form.name.id_for_label
    </p>
</div>
<p>-----------------</p>
<div>
    {{ form.name.value }}
    <p>
        form.name.value
    </p>
</div>
<p>-----------------</p>
<div>
    {{ form.name.html_name }}
    <p>
        form.name.html_name
    </p>
</div>
<p>-----------------</p>

</body>
</html>