<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Details..</title>
    <style>
        table,th,td{
            border:1px solid black;
        }
    </style>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Post Name</th>
        <th>Release Date</th>
        <th>User</th>
    </tr>
    </thead>
    <tbody>
    {% for dt in data %}
    <tr>
        <td>{{ dt.id }}</td>
        <td>{{ dt.post_name }}</td>
        <td>{{ dt.rel_date }}</td>
        <td>{{ dt.user }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>