<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <style>
         th,td{
            border: 2px solid black;
         }
     </style>
    <title>Enrollment</title>
</head>
<body>
  <table>
      <tr>
          <td>Stu. ID</td>
          <td>Name</td>
          <td>Email</td>
          <td>Password</td>
      </tr>

      <tr>
          <td>{{ stu1.stuid }}</td>
          <td>{{ stu1.stuname }}</td>
          <td>{{ stu1.stuemail }}</td>
          <td>{{ stu1.stupass }}</td>
      </tr>
  </table>
  <a href="/" >Home</a>
</body>
</html>